@charset "UTF-8";

@media screen and (max-width: 600px){

    .links {
        width: 150px;
        margin: 10px auto;
        float: none;
    }

    .box-links {
        width: 100%;
    }

    .box-links:hover {
        width: 100%;
    }
}